.well1 {
  height: 55px;
  background-color: red;
  width: 30vw;
}

.well2 {
  height: 25px;
  background-color: red;
  margin-bottom: 5px;
  width: 70vw;
}


.well4 {
  height: 25px;
  background-color: red;
  width: 70vw;
}

